# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
AIRFLOW_DB=airflow
PIPELINE_DB=pipeline_bcb

# GCP (Fase 5)
GCP_PROJECT_ID=