# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_PORT=
AIRFLOW_DB=airflow
PIPELINE_DB=pipeline_bcb

# Airflow Connections (compostas das variáveis acima no docker-compose.yml)
AIRFLOW_CONN_PIPELINE_BCB_PG=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@postgres:5432/PIPELINE_DB

# GCP (Fase 5)
GCP_PROJECT_ID=
DBT_PROFILES_HOST_PATH=